{% extends "./base.html" %}

{% block content %}

<div class="card text-center my-5">
    <div class="card-header">
        <h2 class="card-title mb-0">About Us</h2>
    </div>
    <div class="card-body p-4">
        <img src="{{ MEDIA_URL }}/about.jpg" width="300" height="300" class="rounded float-right ml-2" alt="Blue Green BMW Car by Maria Geller">
        <p class="card-text"><em>Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.</em></p>
        <p class="card-text">We take pride in offering a diverse range of domestic and imported cars that cater to your unique preferences and needs. Whether you're in search of a sleek sedan for your daily commute or a rugged SUV for your family adventures, our extensive collection has something for every discerning car enthusiast. With a commitment to quality and customer satisfaction, we handpick each vehicle to ensure you get the best value for your investment.</p>
        <p class="card-text">At Best Cars Dealership, your dream car awaits you at remarkably reasonable prices.</p>
    </div>
</div>

{% endblock %}
