{% extends "./base.html" %}

{% block content %}

<!--Add a dealer table here -->
<div class="container-fluid my-5 px-5 table-responsive">
    <table class="table table-hover" id="table"
        data-filter-control="true">
        <thead class="thead-light">
            <tr>
                <th class="align-middle text-center" data-field="id">ID</th>
                <th class="align-middle text-center" data-field="full_name">Dealer Name</th>
                <th class="align-middle text-center" data-field="city">City</th>
                <th class="align-middle text-center" data-field="address">Address</th>
                <th class="align-middle text-center" data-field="zip">Zip</th>
                <th class="align-middle text-center" data-field="state" data-filter-control="select">State</th>
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealership_list %}
            <tr>
                <td class="text-center">{{dealer.id}}</td>
                <td class="text-left">
                    <a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a>
                </td>   
                <td class="text-left">{{dealer.city}}</td>
                <td class="text-left">{{dealer.address}}</td>
                <td class="text-center">{{dealer.zip}}</td>
                <td class="text-center">{{dealer.st}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(function() {
      $('#table').bootstrapTable()
    })
</script>

{% endblock %}
